name: "Updates https://geoffreygarrett.github.io/horses-for-sale/"
on:
  workflow_dispatch:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * *"
permissions:
  contents: write
  actions: write

jobs:
  update-site:
    name: Update site
    runs-on: ubuntu-18.04
    env:
      MONGO_URI: ${{ secrets.MONGO_URI }}
      AUTH_KEY_GEOCODING: ${{ secrets.AUTH_KEY_GEOCODING }}
      AUTH_KEY_DISTANCE_MATRIX: ${{ secrets.AUTH_KEY_DISTANCE_MATRIX }}
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: "Clone repository"
        uses: actions/checkout@v2
        with:
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: "Setup miniconda"
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          activate-environment: horses
          environment-file: environment.yaml
          auto-activate-base: false

      - name: "Install Playwright"
        run: |
          conda activate horses
          python -m playwright install chromium

      - name: "Scrape equinesa"
        run: |
          scrapy crawl equinesa

      - name: "Scrape junkmail"
        run: |
          scrapy crawl junkmail

      - name: "Scrape gumtree"
        run: |
          scrapy crawl gumtree

      - name: "Generate new site"
        run: |
          python main.py

      - name: "Push to gh-pages branch"
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: gh-pages # The branch name where you want to push the assets
          FOLDER: out # The directory where your assets are generated
          GITHUB_TOKEN: ${{ secrets.GITHUB_WORKFLOW_PAT }} # GitHub will automatically add this - you don't need to bother getting a token
          MESSAGE: "Build: ({sha}) {msg}" # The commit message